---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

code{
    background-color: #dfdfdf;
    font-family: 'Courier Prime', monospace;
}

.pagination {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    gap: 10px;
}

.pagination em{
    font-weight: 900;
    color: #080808;
    text-decoration: underline;
}

.highlighter-rouge .highlight{ 
    background-color: #dfdfdf;
    border-radius: 8px;
    margin-bottom: 24px;
}

.site-nav {
    margin-left: auto;
    position: relative;
    top: auto;
    right: auto;
}

.site-header{
    border: none;
}

.site-footer {
    border: none;
}

.footer-wrapper{
    text-align: center;
}

.social-media-list li {
    display: inline-block;
    margin-right: 10px;
}

.social-media-list li:last-child {
    margin-right: 0;
}

.social-media-list svg{
    height: 40px;
    width: 40px;
    fill: #2f2f2f;
}

.nav-wrapper{
    display: flex; 
    align-items: center; 
    padding: 30px 0;
}

.post-meta{
    display: block;
    margin-bottom: 8px;
}

.post-title{
    margin-bottom: 8px;
}

@media screen and (max-width: 768px) {

    /* Adjust the max-width as needed */
    .logo {
        margin-left: 8px;
        /* Adjust as needed */
    }
}


